parameters:
	ignoreErrors:
		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\DataMapper\\\\PropertyMapperInterface\\:\\:readPropertyValue\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/DataMapper/PropertyMapperInterface.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\DataMapper\\\\PropertyMapperInterface\\:\\:readPropertyValue\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/DataMapper/PropertyMapperInterface.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\DataMapper\\\\PropertyMapperInterface\\:\\:writePropertyValue\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/DataMapper/PropertyMapperInterface.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\DataMapper\\\\PropertyMapperInterface\\:\\:writePropertyValue\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: src/DataMapper/PropertyMapperInterface.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\DataTransformer\\\\ValueObjectTransformer\\:\\:getPropertyValue\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/DataTransformer/ValueObjectTransformer.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\DataTransformer\\\\ValueObjectTransformer\\:\\:getPropertyValue\\(\\) has parameter \\$object with no typehint specified\\.$#"
			count: 1
			path: src/DataTransformer/ValueObjectTransformer.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\DataTransformer\\\\ValueObjectTransformer\\:\\:mapExceptionToError\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/DataTransformer/ValueObjectTransformer.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\ExceptionHandling\\\\ArgumentTypeMismatchExceptionHandler\\:\\:getError\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/ExceptionHandling/ArgumentTypeMismatchExceptionHandler.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\ExceptionHandling\\\\ChainExceptionHandler\\:\\:getError\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/ExceptionHandling/ChainExceptionHandler.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\ExceptionHandling\\\\ExceptionHandlerInterface\\:\\:getError\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/ExceptionHandling/ExceptionHandlerInterface.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\ExceptionHandling\\\\FormExceptionHandler\\:\\:mapExceptionToError\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/ExceptionHandling/FormExceptionHandler.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\ExceptionHandling\\\\FormExceptionHandler\\:\\:handleException\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/ExceptionHandling/FormExceptionHandler.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\ExceptionHandling\\\\FallbackExceptionHandler\\:\\:getError\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/ExceptionHandling/FallbackExceptionHandler.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\ExceptionHandling\\\\GenericExceptionHandler\\:\\:getError\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/ExceptionHandling/GenericExceptionHandler.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\Instantiator\\\\FormDataInstantiator\\:\\:getData\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Instantiator/FormDataInstantiator.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\Instantiator\\\\FormDataInstantiator\\:\\:getArgumentData\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Instantiator/FormDataInstantiator.php

		-
			message: "#^Parameter \\#1 \\$argument of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Instantiator/ObjectInstantiator.php

		-
			message: "#^Cannot call method isPublic\\(\\) on ReflectionMethod\\|null\\.$#"
			count: 1
			path: src/Instantiator/ObjectInstantiator.php

		-
			message: "#^Cannot call method getParameters\\(\\) on ReflectionMethod\\|null\\.$#"
			count: 1
			path: src/Instantiator/ObjectInstantiator.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\Instantiator\\\\ObjectInstantiator\\:\\:getData\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Instantiator/ObjectInstantiator.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\Instantiator\\\\ObjectInstantiator\\:\\:getArgumentData\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Instantiator/ObjectInstantiator.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\Instantiator\\\\ViewDataInstantiator\\:\\:getData\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Instantiator/ViewDataInstantiator.php

		-
			message: "#^Method SensioLabs\\\\RichModelForms\\\\Instantiator\\\\ViewDataInstantiator\\:\\:getArgumentData\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Instantiator/ViewDataInstantiator.php
