includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/config.levelmax.neon

parameters:
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src
